In [1]:
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017')
database = client['srilikhitha']

In [2]:
db = database.get_collection('heart')

In [3]:
import pandas as pd
df = pd.DataFrame(list(db.find()))

In [4]:
df

,_id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64533aeab0c9adf3e9e3f2c7,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64533aeab0c9adf3e9e3f2c8,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,64533aeab0c9adf3e9e3f2c9,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,64533aeab0c9adf3e9e3f2ca,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,64533aeab0c9adf3e9e3f2cb,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,64533aeab0c9adf3e9e3f3f1,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,64533aeab0c9adf3e9e3f3f2,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,64533aeab0c9adf3e9e3f3f3,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,64533aeab0c9adf3e9e3f3f4,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,64533aeab0c9adf3e9e3f3f5,57,0,1,130,236,0,0,174,0,0,1,1,2,0

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
df.head

<bound method NDFrame.head of                           _id age sex cp trestbps chol fbs restecg thalach  \
0    64533aeab0c9adf3e9e3f2c7  63   1  3      145  233   1       0     150
1    64533aeab0c9adf3e9e3f2c8  37   1  2      130  250   0       1     187
2    64533aeab0c9adf3e9e3f2c9  41   0  1      130  204   0       0     172
3    64533aeab0c9adf3e9e3f2ca  56   1  1      120  236   0       1     178
4    64533aeab0c9adf3e9e3f2cb  57   0  0      120  354   0       1     163
..                        ...  ..  .. ..      ...  ...  ..     ...     ...
298  64533aeab0c9adf3e9e3f3f1  57   0  0      140  241   0       1     123
299  64533aeab0c9adf3e9e3f3f2  45   1  3      110  264   0       1     132
300  64533aeab0c9adf3e9e3f3f3  68   1  0      144  193   1       1     141
301  64533aeab0c9adf3e9e3f3f4  57   1  0      130  131   0       1     115
302  64533aeab0c9adf3e9e3f3f5  57   0  1      130  236   0       0     174

    exang oldpeak slope ca thal target
0       0     2.3     0  0    1      1
1       0     3.5     0  0    2      1
2       0     1.4     2  0    2      1
3       0     0.8     2  0    2      1
4       1     0.6     2  0    2      1
..    ...     ...   ... ..  ...    ...
298     1     0.2     1  0    3      0
299     0     1.2     1  0    3      0
300     0     3.4     1  2    3      0
301     1     1.2     1  1    3      0
302     0       0     1  1    2      0

[303 rows x 15 columns]>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       303 non-null    object
 1   age       303 non-null    object
 2   sex       303 non-null    object
 3   cp        303 non-null    object
 4   trestbps  303 non-null    object
 5   chol      303 non-null    object
 6   fbs       303 non-null    object
 7   restecg   303 non-null    object
 8   thalach   303 non-null    object
 9   exang     303 non-null    object
 10  oldpeak   303 non-null    object
 11  slope     303 non-null    object
 12  ca        303 non-null    object
 13  thal      303 non-null    object
 14  target    303 non-null    object
dtypes: object(15)
memory usage: 35.6+ KB

In [8]:
df.isnull().sum()

_id         0
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
df.describe()

,_id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303,303,303,303,303,303,303,303,303,303,303,303,303,303,303
unique,303,41,2,4,49,152,2,3,91,2,40,3,5,4,2
top,64533aeab0c9adf3e9e3f2c7,58,1,0,120,204,0,1,162,0,0,2,0,2,1
freq,1,19,207,143,37,6,258,152,11,204,99,142,175,166,165

In [10]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [11]:
X = df.drop(columns=['_id','target'], axis=1)
Y = df['target']
X = X.astype(str).astype(float)

In [12]:
print(X)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0    63.0  1.0  3.0     145.0  233.0  1.0      0.0    150.0    0.0      2.3
1    37.0  1.0  2.0     130.0  250.0  0.0      1.0    187.0    0.0      3.5
2    41.0  0.0  1.0     130.0  204.0  0.0      0.0    172.0    0.0      1.4
3    56.0  1.0  1.0     120.0  236.0  0.0      1.0    178.0    0.0      0.8
4    57.0  0.0  0.0     120.0  354.0  0.0      1.0    163.0    1.0      0.6
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298  57.0  0.0  0.0     140.0  241.0  0.0      1.0    123.0    1.0      0.2
299  45.0  1.0  3.0     110.0  264.0  0.0      1.0    132.0    0.0      1.2
300  68.0  1.0  0.0     144.0  193.0  1.0      1.0    141.0    0.0      3.4
301  57.0  1.0  0.0     130.0  131.0  0.0      1.0    115.0    1.0      1.2
302  57.0  0.0  1.0     130.0  236.0  0.0      0.0    174.0    0.0      0.0

     slope   ca  thal
0      0.0  0.0   1.0
1      0.0  0.0   2.0
2      2.0  0.0   2.0
3      2.0  0.0   2.0
4      2.0  0.0   2.0
..     ...  ...   ...
298    1.0  0.0   3.0
299    1.0  0.0   3.0
300    1.0  2.0   3.0
301    1.0  1.0   3.0
302    1.0  1.0   2.0

[303 rows x 13 columns]

In [13]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: object

Splitting the Data into Training data & Test Data

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [15]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

# Logistic Regression

In [16]:
model = LogisticRegression()

In [17]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Accuracy Score

In [18]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [19]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8512396694214877

In [20]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [21]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.819672131147541

Building a Predictive System

In [22]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

['0']
The Person has Heart Disease

C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

Saving the trained model

In [23]:
import pickle

In [24]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [25]:
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [26]:
for column in X.columns:
  print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal